#clavier fr mac centos
localectl set-keymap fr-mac
sudo timedatectl set-timezone Europe/Paris

sudo localectl set-locale "LANG=fr_FR.utf8","LC_ALL=fr_FR.utf8"
sudo localectl status
sudo echo "TZ='Europe/Paris'" >> /etc/environment
sudo localectl set-keymap fr-mac
sudo localectl set-x11-keymap fr


adduser elmos
usermod -aG wheel elmos 
usermod -aG sudo elmos

sudo yum install -y yum-utils
sudo yum-config-manager --add-repo https://rpm.releases.hashicorp.com/RHEL/hashicorp.repo
sudo yum -y install terraform
terraform -v


#debian
adduser elmos
usermod -aG sudo elmos

#langue
sudo dpkg-reconfigure locales

#Time zone
sudo dpkg-reconfigure tzdata
sudo apt-get install -f file.deb

#git 
sudo apt-get install git

git clone https://github.com/eldagithub/global_tips.git
